@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

input::focus {
    outline: none;
}