@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --light-purple: #F0D9E7;
    --pink: #FF94CC;
    --purple: #A239EA;
    --dark-purple: #5C33F6;
}

html, body {
    position: fixed;
    inset: 0;
    margin : 0;
    padding: 0;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

button:not(:disabled) {
    cursor: pointer;
}

input, textarea {
    font-size: 1em;
    width: 100%;
    &::focus {
        outline: none;

    }
}

body {
    background-image: linear-gradient(-15deg, var(--light-purple), var(--pink));
    background-color: var(--pink);
}

p {
    width: min(90%, 50ch);
}

.posts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;

    > * {
        background-color: var(--light-purple);
        border: 1px solid black;
        border-radius: 10px;
        width: min(90%, 1000px);
        font-size: 1.5em;
        box-shadow: 0 0 4px 2px #00000040;

        > * {
            padding: 1em 3em;
        }

        .post-heading {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-bottom: 1px solid black;
            @media screen and (max-width: 1000px) {
                flex-direction: column;
                text-align: center;

                > :first-child {
                    margin: 0 0 2em 0;
                }
            }

            > :first-child {
                margin-right: auto;
                font-weight: bold;
            }

            .posted-by-pic {
                height: 2.5em;
                margin-left: 1em;
                border-radius: 20px;
            }
        }

        .post-controls {

            button {
                border: 1px solid black;
                font-size: 1em;
                transition: transform 0.2s ease;
                padding: 0.2em 0.5em;
                border-radius: 10px;
                &:hover {
                    transform: scale(1.1);
                }
            }

            .delete {
                color: white;
                background-color: red;
            }

            .accept {
                background-color: var(--dark-purple);
                color: white;
            }
        }

        .post-offers {
            border-top: 1px solid black;

            .offer {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                button {
                    font-size: 1em;
                    background-color: var(--dark-purple);
                    color: white;
                    border: 1px solid black;
                    border-radius: 10px;
                    padding: 0.2em 0.5em;
                    margin-right: 1em;
                    transition: transform 0.2s ease;
                    &:hover {
                        transform: scale(1.1);
                    }    
                }


                img {
                    height: 2em;
                    border-radius: 20px;
                    margin-left: 0.5em;
                }
            }
        }
    }
}

